@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


:root{
    
    /*===== theme color =====*/
    --cta-color: #150283;
    --black-color: rgb(5,5,5);
    --font-white: rgb(245, 245, 245);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    list-style: none;
    text-decoration: none;
}

a:visited{
    color: var(--font-white);
}

a{
   color: var(--font-white); 
}

img{
    width: 200px;
    height: 200px;
    border-radius: 12px;
}

header{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background-image: url(images/topo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 22px;
}

.nav{
    width: 100%;
    height: 10vh;
    color: var(--font-white);
    background-color: var(--black-color);
    font-weight: 600;
}

.nav a:hover, footer a{
    transition: 0.2s;
}

.nav a:hover, footer a:hover{
    color: rgba(245, 245, 245, 0.8);
}

.ul-nav{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.accueil{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 32px;
}

.accueil h1{
    font-size: 64px;
}

section{
    margin-top: 48px;
}

.section-titre{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 60%;
    height: 128px;
    margin-left: 20%;
    border-bottom: solid 1px black;
    font-size: 24px;
}

section{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.section-content{
    display: flex;
    margin-left: 20%;
    width: 60%;
    gap: 18px;
}

.section-content span{
    color: #0c54f0;
}

.carte{
    display: flex;
    width: 475px;
    height: 248px;
    padding: 24px;
    border-radius: 12px;
    background-color: #ececec;
    gap: 18px;
    box-shadow: 4px 0px 12px rgb(210, 210, 210);
    transition: 0.3s;
    color: black;
}

.carte:hover{
    box-shadow: 4px 0px 12px rgb(195, 195, 195);
    transform: scale3d(1.01, 1.01, 1.01);
}

.carte-infos{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-weight: 400 !important;
}

.carte-infos h3{
    font-size: 26px;
    font-weight: 600;
}

.carte-date{
    font-weight: 400;
}

.carte-cta{
    display: flex;
    height: 100%;
    justify-content: end;
    align-items: end;
}

.formations{
    flex-direction: column !important;
    gap: 6px
}

.formation{
    display: flex;
    gap: 32px;
}

.cta-eq {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.voir-eq{
    background-color: #0c54f0;
    padding: 12px 18px;
    border-radius: 32px;
    transition: 0.3s;
}

.voir-eq:hover{
    background-color: #0b47ca;
}

.reseaux{
    background-color: rgba(0, 0, 0, 0.2);
}
.reseaux:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

.object{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100px;
    top: 6px;
}

.ligne{
    position: relative;
    top: -2px;
    height: 100%;
    width: 4px;
    background-color: black;
    border-radius: 64px;
}

.langage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.langage img{
    width: 125px;
    height: 125px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    color: var(--font-white);
    background-color: var(--black-color);
    margin-top: 64px;
}

footer h2{
    font-weight: 600;
    font-size: 42px;
    text-align: center;
}
footer p{
    font-weight: 400;
    font-size: 18px;
}